<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .header {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  .section-header {
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{% javascript %}

jQuery( ".hover-function-btn" ).mouseover(function() {
  var mainGif = jQuery('.main-gif-box');
  var glichImageURL = mainGif.data('glich-image');
  var ImageURL = jQuery(this).data('image-url');
    mainGif.attr('src', glichImageURL );
    setTimeout(function () {             
        mainGif.attr('src', ImageURL );
    }, 250);
});

{% endjavascript %}
                <div class="header-master">
                    <div class="left_monitor">
                        <a href="{{ shop.url }}"><img src="{{ section.settings.logo | image_url }}"> 
                        </a>
                    </div>
                    <div class="user_btn">
                        <a href="/"><img src="{{ 'acc_dark.png' | asset_url }}" class="block_img">
                            <img src="{{ 'acc_lit.png' | asset_url }}" class="hover_img">
                        </a>
                    </div>
                    <div class="cart_btn">
                        <a href="/cart"><img src="{{ 'cart_dark.png' | asset_url }}" class="block_img">
                            <img src="{{ 'cart_lit.png' | asset_url }}" class="hover_img">
                        </a>
                    </div>
                    <div class="home_btn">
                        <a href="{{ section.settings.home_url }}" data-image-url="{{ 'monitorHome.gif' | asset_url }}" class="hover-function-btn"><img src="{{ 'home_dark.png' | asset_url }}" class="block_img">
                            <img src="{{ 'home_lit.png' | asset_url }}" class="hover_img">
                        </a>
                    </div>
                    <div class="faq_btn">
                        <a href="{{ section.settings.faq_url }}" data-image-url="{{ 'monitorFAQ.gif' | asset_url }}" class="hover-function-btn"><img src="{{ 'FAQ_dark.png' | asset_url }}" class="block_img">
                            <img src="{{ 'FAQ_lit.png' | asset_url }}" class="hover_img">
                        </a>
                    </div>
                    <div class="plicy_btn">
                        <a href="{{ section.settings.policies_url }}" data-image-url="{{ 'monitorAbout.gif' | asset_url }}" class="hover-function-btn"><img src="{{ 'policies_dark.png' | asset_url }}" class="block_img">
                            <img src="{{ 'policies_lit.png' | asset_url }}" class="hover_img">
                        </a>
                    </div>
                    {%- if settings.social_instagram_link != blank -%}
                    <div class="insta_btn">
                        <a alt="{{ 'general.social.links.instagram' | t }}" title="{{ 'general.social.links.instagram' | t }}" href="{{ settings.social_instagram_link }}" data-image-url="{{ 'monitorInsta.gif' | asset_url }}" class="hover-function-btn"><img src="{{ 'insta_dark.png ' | asset_url }}" class="block_img">
                            <img src="{{ 'insta_lit.png' | asset_url }}" class="hover_img">
                        </a>
                    </div>
                  {%- endif -%}
                  {%- if settings.social_twitter_link != blank -%}
                    <div class="twitter_btn">
                        <a alt="{{ 'general.social.links.twitter' | t }}" href="{{ settings.social_twitter_link }}" data-image-url="{{ 'monitorTwitter.gif' | asset_url }}" class="hover-function-btn"><img src="{{ 'twt_dark.png' | asset_url }}" class="block_img">
                            <img src="{{ 'twt_lit.png' | asset_url }}" class="hover_img">
                        </a>
                    </div>
                     {%- endif -%}
                     {%- if settings.social_youtube_link != blank -%}
                    <div class="youtube1_btn">
                        <a alt="{{ 'general.social.links.youtube' | t }}" href="{{ settings.social_youtube_link }}" data-image-url="{{ 'monitorYT.gif' | asset_url }}" class="hover-function-btn"><img src="{{ 'YT1_dark.png' | asset_url }}" class="block_img">
                            <img src="{{ 'YT_lit.png' | asset_url }}" class="hover_img">
                        </a>
                    </div>
                     {%- endif -%}
                    {%- if settings.social_youtube2_link != blank -%}
                    <div class="youtube2_btn">
                        <a alt="{{ 'general.social.links.youtube2' | t }}" href="{{ settings.social_youtube2_link }}" data-image-url="{{ 'monitorYT2.gif' | asset_url }}" class="hover-function-btn"><img src="{{ 'YT2_dark.png' | asset_url }}" class="block_img">
                            <img src="{{ 'YT2_lit.png' | asset_url }}" class="hover_img">
                        </a>
                    </div>
                     {%- endif -%}
                    {%- if settings.social_discord_link != blank -%}
                    <div class="discord_btn">
                        <a alt="{{ 'general.social.links.discord' | t }}" href="{{ settings.social_discord_link }}" data-image-url="{{ 'monitorDiscord.gif' | asset_url }}" class="hover-function-btn"><img src="{{ 'discord_dark.png' | asset_url }}" class="block_img">
                            <img src="{{ 'discord_lit.png' | asset_url }}" class="hover_img">
                        </a>
                    </div>
                     {%- endif -%}
                    <div class="monitor_img">
                        <a href="#">
                          <img class="main-gif-box" data-glich-image="{{ 'monitorGlitch.png' | asset_url }}" src="{{ 'monitorMain.gif' | asset_url }}">
                        </a>
                    </div>


                </div>


<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    },{
          "type": "url",
          "id": "home_url",
          "label": "Home URL"
        },
        {
          "type": "url",
          "id": "faq_url",
          "label": "FAQ URL"
        },
        {
          "type": "url",
          "id": "policies_url",
          "label": "Policies URL"
        }
  ]
}
{% endschema %}
